<h1>Dashboard</h1>

<p><%= link_to 'Work Orders', workorders_path %></p>
<p><%= link_to 'Technicians', technicians_path %></p>
<p><%= link_to 'Parts', parts_path %></p>
<p><%= link_to 'Vehicles', vehicles_path %></p>
<p><%= link_to 'Vendors', vendors_path %></p>
<p><%= link_to 'Statuses', statuses_path %></p>
<p><%= link_to 'Inspection Types', inspection_types_path %></p>
<p><%= link_to 'Inspections', inspections_path %></p>
<p><%= link_to 'Company Info', companies_path %></p>
