<p id="notice"><%= notice %></p>

<%= image_tag(@technician.avatar_url, size: "150x150") if @technician.avatar? %>
<p>
  <strong>Name</strong>
  <%= @technician.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @technician.email %>
</p>

<p>
  <strong>Group:</strong>
  <%= @technician.group %>
</p>

<p>
  <strong>Hourly Rate:</strong>
  <%= @technician.hourly_labor_rate_cents %>
</p>
<p>
  <strong>Active:</strong>
  <%= @technician.active %>
</p>

<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
