<div class="p-4 bg-gray-300 h-100">
  <div class="text-center text-xs text-red-400">
  Report ID: <%= session[:report] %>
  Driver ID: <%= @report.driver %>
  Vehicle ID: <%= @report.vehicle %>
</div><!-- DEBUG -->
<!-- HEADER -->
<h2 class="text-xs text-center">METROWEST REGIONAL TRANSPORTATION BUS <%=@report.vehicle %></h2>
<h3 class="text-lg text-center">Electronic Vehicle Inspection Report</h3>
<!-- END HEADER -->
  <div class="bg-white border rounded-lg shadow overflow-hidden">
    <%= image_tag 'bus.jpg' %>
    <div class="p-6">
      <h1 class="font-semibold text-xl uppercase text-center">CHECK EMERGENCY EQUIPMENT</h1>
      <p class="text-center">Inspect vehicle emergency equipment for proper charge, and signage.</p>
      <div class="mt-4">
        <%= form_for(@report, :url => wizard_path, :method => :put) do |f| %>
          <div>Issue: <%=f.check_box :emergency_equipment %></div>
          <div id="capture" class="hidden">
            <%= f.label :images %>
            <%= f.file_field :images %>
            <%= f.label 'Notes' %>
            <%= f.text_field :emergency_equipment_notes %>
          </div>
          <div><%=f.submit 'Next', :class => 'p-4 rounded bg-green-500 text-white' %>
          <%= link_to 'N/A', next_wizard_path, :class => 'p-6 rounded bg-orange-500 text-white' %></div>
        <% end %>
      </div><!-- FORM END -->
    </div><!-- END of INNER CARD -->
  </div><!-- END OF CARD -->
</div><!-- END OF BODY -->