<div class="container">
	<div class="h1 text-center">BUS <%=@report.vehicle %></div>
	<div class="h2 text-center">DVIR</div>
<!-- SIGNATURE AND GENERAL COMMENTS -->

<%= form_for(@report, :url => wizard_path, :method => :put) do |f| %>
  <%=f.label 'Overall Safety OK' %>
  <%=f.check_box :satisfactory %>
  <%=f.submit 'Complete Report' %>
<% end %>