<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.text_field :vehicle_id %>
  </div>

  <div class="field">
    <%= form.label :inspection %>
    <%= form.text_field :inspection %>
  </div>

  <div class="field">
    <%= form.label :evidence %>
    <%= form.text_field :evidence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
