<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @issue.vehicle %>
</p>

<p>
  <strong>Inspection:</strong>
  <%= @issue.inspection %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @issue.evidence %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
