<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @workorder.vehicle.number %>
</p>

<p>
  <strong>Technician:</strong>
  <%= @workorder.technician.fullname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workorder.description %>
</p>

<p>
  <strong>Parts subtotal:</strong>
  <%= @parts_total %>
</p>

<p>
  <strong>Labor subtotal:</strong>
  <%= @labor_total %>
</p>

<p>
  <strong>Total:</strong>
  <%= @total %>
</p>

<p>
  <strong>Vehicle miles in:</strong>
  <%= @workorder.vehicle_miles_in %>
</p>

<p>
  <strong>Status:</strong>
  <%= @workorder.status.description %>
</p>

<p>
  <strong>Work start:</strong>
  <%= @workorder.work_start.strftime("%m/%d/%Y - %I:%M%p") %>
</p>

<p>
  <strong>Work end:</strong>
  <% if @workorder.work_end != nil %>
    <%= @workorder.work_end.strftime("%m/%d/%Y - %I:%M%p") %>
  <% else %>
    Not Set
  <% end %>
</p>

<div>
  <% if @workorder.line_items %>
    <ul>
    <% @workorder.line_items.each do |item| %>
      <li><%= item.quantity %> x <%= item.part.description %> - <%= (item.part.cost.to_f * item.quantity.to_i).round(2) %></li>
    <% end %>
    </ul>
  <% else %>
  <% end %>
</div>

<%= link_to "Add Line Item", new_line_item_path(workorder_id: @workorder.id) %>

<%= link_to 'Edit', edit_workorder_path(@workorder) %> |
<%= link_to 'Back', workorders_path %>
