<%= form_with(model: dvir, local: true) do |form| %>
  <% if dvir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dvir.errors.count, "error") %> prohibited this dvir from being saved:</h2>

      <ul>
      <% dvir.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :driver %>
    <%= form.text_field :driver %>
  </div>
  <% if @vehicle %>
  <%= hidden_field_tag :vehicle, @vehicle %>
  <% end %>
  <%= hidden_field_tag :company, Company.first %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
