<p id="notice"><%= notice %></p>

<h1>Dvirs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Vehicle</th>
      <th>Odometer</th>
      <th>End mileage</th>
      <th>Start mileage</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dvirs.each do |dvir| %>
      <tr>
        <td><%= dvir.company %></td>
        <td><%= dvir.vehicle %></td>
        <td><%= dvir.odometer %></td>
        <td><%= dvir.end_mileage %></td>
        <td><%= dvir.start_mileage %></td>
        <td><%= dvir.location %></td>
        <td><%= link_to 'Show', dvir %></td>
        <td><%= link_to 'Edit', edit_dvir_path(dvir) %></td>
        <td><%= link_to 'Destroy', dvir, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dvir', new_dvir_path %>
