
<div class="container mx-auto bg-gray-500 border-2 h-50 p-8 rounded-lg shadow">
<%= form_for(@dvir) do |f| %>
<%= f.label :driver %>
<%= f.text_field :driver %>
<%= f.hidden_field :company_id, value: @company.id %>
<%= f.hidden_field :vehicle_id, value: @vehicle.id %>
<%= f.submit 'Next Step' %>
<% end %>
</div>