<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @vehicle.number %>
</p>

<p>
  <strong>Group:</strong>
  <%= @vehicle.group %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @vehicle.trim %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vehicle.vtype %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @vehicle.fuel_type %>
</p>

<p>
  <strong>Current meter:</strong>
  <%= @vehicle.current_meter %>
</p>

<p>
  <strong>Current meter date:</strong>
  <%= @vehicle.current_meter_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.status %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.VIN %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @vehicle.license_plate %>
</p>

<p>
  <strong>Registration state:</strong>
  <%= @vehicle.registration_state %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @vehicle.ownership %>
</p>

<p>
  <strong>Service costs:</strong>
  <%= @vehicle.service_costs %>
</p>

<p>
  <strong>Fuel costs:</strong>
  <%= @vehicle.fuel_costs %>
</p>

<p>
  <strong>Other costs:</strong>
  <%= @vehicle.other_costs %>
</p>

<p>
  <strong>Cost meter:</strong>
  <%= @vehicle.cost_meter %>
</p>

<p>
  <strong>Meter usage:</strong>
  <%= @vehicle.meter_usage %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @vehicle.purchase_price %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @vehicle.purchase_date %>
</p>

<p>
  <strong>Warranty expiration:</strong>
  <%= @vehicle.warranty_expiration %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
