<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @driver %>
    <%=form.hidden_field :driver, value: @driver %>
    <% else %>
      <div class="field mb-4">
        <%= form.label :driver %>
        <%= form.text_field :driver %>
      </div>
  <% end %>

  <% if @vehicle %>
    <%=form.hidden_field :vehicle, value: @vehicle.number %>
    <% else %>
      <div class="field mb-4">
        <%= form.label :vehicle %>
        <%= form.text_field :vehicle %>
      </div>
  <% end %>
  <div class="actions mb-4">
    <%= form.submit %>
  </div>
<% end %>
