<div class="bg-white shadow overflow-hidden  sm:rounded-lg">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      eDVIR Report - <%=@report.updated_at.strftime("%c") %>
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
      Metro West Regional Transportation Authority
    </p>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 col-gap-4 row-gap-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Submitted By Driver
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%=@report.driver %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Vehicle
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          Bus #<%=@report.vehicle %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Vehicle Condition / Safe For Operation
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= dvir_status(@report.satisfactory) %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Number of Issues Identified
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= @report.num_issues('num') %>
        </dd>
        <% if @report.notes %>
        <dt class="mt-4 text-sm leading-5 font-medium text-gray-500">
          Driver Notes
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= @report.notes %>
        </dd>
        <% end %>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Inside Vehicle Checks - <%= inside_checks.html_safe %>
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <ul>
             <li>Driver's Seat:<%=!@report.drivers_seat ? 'Ok':'Issue' %>
            </li>
         
            <li>Gauges:<%=!@report.guages ? 'Ok':'Issue' %>
            </li>
            <li>Switches:<%=!@report.switches ? 'Ok':'Issue' %>
            </li>
            <li>Horn:<%=!@report.horn ? 'Ok':'Issue' %>
            </li>
            <li>Defrosters:<%=!@report.defrosters ? 'Ok':'Issue' %>
            </li>
            <li>Service Door:<%=!@report.service_door ? 'Ok':'Issue' %>
            </li>
            <li>Emergency Equipment:<%=!@report.emergency_equipment ? 'Ok':'Issue' %>
            </li>
            <li>First Aid:<%=!@report.first_aid ? 'Ok':'Issue' %>
            </li>
            <li>Stairs:<%=!@report.stairs ? 'Ok':'Issue' %>
            </li>
            <li>Interior:<%=!@report.interior ? 'Ok':'Issue' %>
            </li>
            <li>Floor:<%=!@report.floor ? 'Ok':'Issue' %>
            </li>
            <li>Emergency Door:<%=!@report.emergency_door ? 'Ok':'Issue' %>
            </li>
            <li>Lights:<%=!@report.lights ? 'Ok':'Issue' %>
            </li>
             <li>Steering:<%=!@report.steering ? 'Ok':'Issue' %>
            </li>
            <li>Wheelchair Lift:<%=!@report.wheelchair_lift ? 'Ok':'Issue' %>
            </li>
            <li>Directionals:<%=!@report.directionals ? 'Ok':'Issue' %>
            </li>
          </ul>
        </dd>

          <dt class="text-sm leading-5 font-medium text-gray-500">
          Outside Vehicle Checks - <%= outside_checks.html_safe %>
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <ul>
           <li>Front Left Tire:<%=!@report.front_left_tire ? 'Ok':'Issue' %>
            </li>
            <li>Exhaust:<%=!@report.exhaust ? 'Ok':'Issue' %>
            </li>
            <li>Left Side:<%=!@report.left_side ? 'Ok':'Issue' %>
            </li>
            <li>Left Rear Tire:<%=!@report.left_rear_tire ? 'Ok':'Issue' %>
            </li>
            <li>Rear:<%=!@report.rear ? 'Ok':'Issue' %>
            </li>
            <li>Tailpipe:<%=!@report.tail_pipe ? 'Ok':'Issue' %>
            </li>
            <li>Right Rear Tire:<%=!@report.right_rear_tire ? 'Ok':'Issue' %>
            </li>
            <li>Right Side:<%=!@report.right_side ? 'Ok':'Issue' %>
            </li>
            <li>Wipers:<%=!@report.wipers ? 'Ok':'Issue' %>
            </li>
            <li>Stop Arm:<%=!@report.stop_arm ? 'Ok':'Issue' %>
            </li>
            <li>Mirrors:<%=!@report.mirrors ? 'Ok':'Issue' %>
            </li>
            <li>Front Right Wheel:<%=!@report.front_right_wheel ? 'Ok':'Issue' %>
            </li>
          </ul>
        </dd>

          <dt class="text-sm leading-5 font-medium text-gray-500">
           Vehicle Safety Checks - <%= safety_checks.html_safe %>
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <ul>
              <li>Leaks:<%=!@report.leaks ? 'Ok':'Issue' %>
            </li>
            <li>Wires:<%=!@report.wires ? 'Ok':'Issue' %>
            </li>
            <li>Belts:<%=!@report.belts ? 'Ok':'Issue' %>
            </li>
            <li>Oil:<%=!@report.oil ? 'Ok':'Issue' %>
            </li>
             <li>Coolant:<%=!@report.coolant ? 'Ok':'Issue' %>
            </li>

            <li>Battery:<%=!@report.battery ? 'Ok':'Issue' %>
            </li>
            <li>Transmission:<%=!@report.transmission ? 'Ok':'Issue' %>
            </li>
            <li>Noise:<%=!@report.noise ? 'Ok':'Issue' %>
            </li>
            <li>Parking Brake:<%=!@report.parking_brake ? 'Ok':'Issue' %>
            </li>
            <li>Clutch:<%=!@report.clutch ? 'Ok':'Issue' %>
            </li>
            <li>Windshield:<%=!@report.windshield ? 'Ok':'Issue' %>
            </li>

          </ul>
        </dd>
      
      
    </dl>
  </div>
</div>