<!DOCTYPE html>
<html>
  <head>
    <title>Fleet Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Files -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
   
    <%= yield %>
    <!--  Google Maps Plugin    -->
   
  </body>
</html>
